* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 100px;
}

/* HEADER */

/* IMAGES */

.content {
    background-color: yellow;
}

img {
    width: 100%;
}

.text {
    padding-bottom: 10px;
}

.brand {
    font-size: 15px;
}

.item {
    font-weight: 600;
}

.price {
    font-weight: 600;
    color: red;
}

.sale {
    font-weight: 400;
    color: black;
    text-decoration: line-through;
}